{% extends "::base.html.twig" %}

{% block title %}
    {{ 'app.contact.titlemeta'|trans }}
{% endblock %}

{% block body %}

    <h2 class="tertiary-color text-center">{{ "app.contact.h2"|trans }}</h2>
    <p class="secondary-color text-center">{{ "app.contact.p"|trans }}</p>

    <div class="row full-width">
        <div class="large-8 columns form-panel" style="min-height:400px">
            <div class="row full-width">
                {{ form_start(form) }}
                <div class="medium-6 columns">
                    <label>
                        {{ 'entity.contact.name'|trans }}
                        {{ form(form.name) }}
                    </label>
                </div>
                <div class="small-6 columns">
                    <label>
                        {{ 'entity.contact.email'|trans }}
                        {{ form(form.email) }}
                    </label>
                </div>
                <div class="small-8 small-centered columns">
                    <label>
                        {{ 'entity.contact.message'|trans }}
                        {{ form(form.message) }}
                    </label>
                </div>
                <div class="small-8 small-centered columns text-center">
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
        <div class="large-4 columns form-panel text-center" style="min-height:400px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15314.277495167951!2d-61.773333!3d16.344933!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3c0be10e7f27e1a!2svilla-desiree!5e0!3m2!1sfr!2sfr!4v1484839068316"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>


{% endblock body %}