{% extends "::base.html.twig" %}

{% block title %}
    {{ 'app.index.titlemeta'|trans }}
{% endblock %}

{% block body %}


    <div data-sticky-container class="fullfull-width">
        <div class="title-bar sticky" id="topbar" data-options="marginTop:0;" style="width:100%;" >
            <div class="top-bar-title">
                <span data-responsive-toggle="responsive-menu" data-hide-for="medium">#</span>
                <strong>{{ 'app.index.titlemeta'|trans }}</strong>
            </div>
            <div id="responsive-menu">
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a type="button" href="#lamaison" class="secondary-color">{{ 'app.index.topbar.lamaison'|trans }}</a></li>
                        <li><a type="button" href="#jardin" class="secondary-color">{{ 'app.index.topbar.lejardin'|trans }}</a></li>
                        <li><a type="button" href="#environement" class="secondary-color">{{ 'app.index.topbar.lenvironement'|trans }}</a></li>
                        <li><a type="button" href="#activity" class="secondary-color">{{ 'app.index.topbar.activity'|trans }}</a></li>
                        <li><a type="button" href="#login" class="secondary-color">{{ 'app.index.topbar.login'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="row full-width">
        <div class="small-8 small-centered columns">
            <h1 class="tertiary-color text-center padding-top">{{ 'app.index.h1'|trans }}</h1>
        </div>
    </div>
    <div class="row full-width">
        <div class="large-4 large-centered small-10 small-centered columns padding-top padding-bottom">
            <p class="secondary-color">{{ 'app.index.p1'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h2 class="primary-color text-center padding-bottom">{{ 'app.index.h2'|trans }}</h2>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/palmito.jpg"></div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h2 class="tertiary-color text-center padding-top" id="lamaison">{{ 'app.index.lavilla'|trans }}</h2>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.chambre'|trans }}</h3>
        </div>
        <div class="small-5 small-centered columns">
            {{ 'app.index.chambrep'|trans|raw }}
        </div>
    </div>
    <div class="row full-width">
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.cuisine'|trans }}</h3>
        </div>
        <div class="small-5 small-centered columns">
            {{ 'app.index.cuisinep'|trans|raw }}
        </div>
    </div>
    <div class="row full-width">
        <div class="small-6 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-6 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.terrasse'|trans }}</h3>
        </div>
        <div class="small-5 small-centered columns  padding-bottom">
            <p class="secondary-color">{{ 'app.index.terrassep'|trans|raw }}</p>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.piscine'|trans }}</h3>
        </div>
        <div class="small-5 small-centered columns  padding-bottom">
            <p class="secondary-color">{{ 'app.index.piscinep'|trans|raw }}</p>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-4 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-4 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-4 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/sable_palmier.jpg"></div>

    <div class="row full-width" id="jardin">
        <div class="small-10 small-centered columns">
            <h2 class="tertiary-color text-center padding-top">{{ 'app.index.jardinplage'|trans }}</h2>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.jardin'|trans }}</h3>
        </div>
    </div>
    <div class="row full-width">
        <div class="large-4 columns padding-bottom">
            &nbsp;
        </div>
        <div class="large-4 small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.jardinp'|trans|raw }}</p>
        </div>
        <div class="large-4 small-12 columns padding-bottom">
            {% image '@AppBundle/Resources/public/images/banane_maison.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.plage'|trans }}</h3>
        </div>
    </div>
    <div class="row full-width">
        <div class="large-10 large-centered small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.plagep'|trans|raw }}</p>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/villa_piscine.jpg"></div>

    <div class="row full-width" id="environement">
        <div class="small-10 small-centered columns">
            <h2 class="tertiary-color text-center padding-top">{{ 'app.index.environement'|trans }}</h2>
        </div>
    </div>
    <div class="row full-width">
        <div class="large-10 large-centered small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.environementp'|trans|raw }}</p>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/sable_palmier.jpg"></div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h2 class="tertiary-color text-center padding-top">{{ 'app.index.guada'|trans }}</h2>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.guadaclimat'|trans }}</h3>
        </div>
        <div class="large-8 large-centered small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.guadaclimatp'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width" id="activity">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.activity'|trans }}</h3>
        </div>
        <div class="large-8 large-centered small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.activityp'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.activity'|trans }}</h3>
        </div>
        <div class="large-8 large-centered small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.activityp'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.activity'|trans }}</h3>
        </div>
        <div class="large-8 large-centered small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.activityp'|trans|raw }}</p>
        </div>
    </div>


{% endblock %}
