{% extends "::base.html.twig" %}

{% block title %}
    {{ 'app.index.titlemeta'|trans }}
{% endblock %}

{% block body %}

    <div class="row full-width">
        <div class="small-8 small-centered columns">
            <h1 class="tertiary-color text-center padding-top">{{ 'app.index.h1'|trans }}</h1>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-8 large-centered small-10 small-centered columns padding-top padding-bottom">
            <p class="secondary-color">
                {{ 'app.index.p1'|trans|raw }}
            </p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h2 class="primary-color text-center padding-bottom">{{ 'app.index.h2'|trans }}</h2>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/palmito.jpg"></div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h2 class="tertiary-color text-center padding-top" id="house">{{ 'app.index.lavilla'|trans }}</h2>
        </div>
        <div class="small-10 small-centered columns">
            <p class="secondary-color">
                {{ 'app.index.lavillap'|trans|raw }}
            </p>
        </div>
    </div>

    {#  Photos de la villa #}
    <div class="row full-width">
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-3 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>


    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.chambre'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns">
            <p class="secondary-color">
                {{ 'app.index.chambrep'|trans|raw }}
            </p>
        </div>
    </div>
    {#  Photos des chambres #}
    <div class="row full-width">
        <div class="small-6 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-6 columns">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.cuisine'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns">
            <p class="secondary-color">
                {{ 'app.index.cuisinep'|trans|raw }}
            </p>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-6 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-6 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_clim.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.terrasse'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns  padding-bottom">
            <p class="secondary-color">
                {{ 'app.index.terrassep'|trans|raw }}
            </p>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.piscine'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns  padding-bottom">
            <p class="secondary-color">{{ 'app.index.piscinep'|trans|raw }}</p>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-4 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-4 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="small-4 columns text-center">
            {% image '@AppBundle/Resources/public/images/villa_piscine.jpg' %}
            <img class="small" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>


    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/sable_palmier.jpg"></div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.jardin'|trans }}</h3>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">
                {{ 'app.index.jardinp'|trans|raw }}
            </p>
        </div>
    </div>

    <div class="row full-width text-center">
        <div class="small-6 columns padding-bottom">
            {% image '@AppBundle/Resources/public/images/les-palmiers-de-la-villa.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.jardin1'|trans }}" alt="{{ 'image.jardin1'|trans }}" />
            {% endimage %}
        </div>
        <div class="small-6 columns padding-bottom">
            {% image '@AppBundle/Resources/public/images/banane_maison.jpg' %}
            <img class="large" src="{{ asset_url }}" title="{{ 'image.jardin2'|trans }}" alt="{{ 'image.jardin2'|trans }}" />
            {% endimage %}
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.plage'|trans }}</h3>
        </div>
    </div>
    <div class="row full-width">
        <div class="small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.plagep'|trans|raw }}</p>
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/villa_piscine.jpg"></div>

    <div class="row padding-top" id="guada">
        <div class="small-6 columns">
            <h2 class="tertiary-color text-center padding-top">{{ 'app.index.environement'|trans }}</h2>
        </div>
        <div class="small-6 columns text-center">
            {% image '@AppBundle/Resources/public/images/Carte-Guadeloupe-3.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.carte'|trans }}" alt="{{ 'image.carte'|trans }}" />
            {% endimage %}
        </div>
    </div>
    <div class="row full-width">
        <div class="large-10 large-centered small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.environementp'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-6 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/deshaies.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.deshaies'|trans }}" alt="{{ 'image.deshaies'|trans }}" />
            {% endimage %}
        </div>
        <div class="small-6 columns text-center">
            {% image '@AppBundle/Resources/public/images/eglise_deshaies.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.eglisedeshaie'|trans }}"  alt="{{ 'image.eglisedeshaie'|trans }}" />
            {% endimage %}
        </div>
    </div>


    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.guadaclimat'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.guadaclimatp'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-6 columns text-center padding-bottom">
            {% image '@AppBundle/Resources/public/images/epice.jpg' %}
            <img class="large" src="{{ asset_url }}" title="{{ 'image.marche1'|trans }}" alt="{{ 'image.marche1'|trans }}" />
            {% endimage %}
        </div>
        <div class="small-6 columns text-center">
            {% image '@AppBundle/Resources/public/images/legume.jpg' %}
            <img class="large" src="{{ asset_url }}" title="{{ 'image.marche2'|trans }}"  alt="{{ 'image.marche2'|trans }}" />
            {% endimage %}
        </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/bundles/app/images/sable_palmier.jpg"></div>

    <div class="row full-width" id="activity">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.activity'|trans }}</h3>
        </div>
        <div class="large-8 large-centered small-12 columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.activityp'|trans|raw }}</p>
        </div>
    </div>

    <div class="owl-carousel">
        <div class="">
            {% image '@AppBundle/Resources/public/images/arbre-du-voyageur.jpg' %}
            <img src="{{ asset_url }}" title="{{ 'image.arbre'|trans }}"  alt="{{ 'image.arbre'|trans }}" />
            {% endimage %}
        </div>
        <div class="">
            {% image '@AppBundle/Resources/public/images/la-cascade-aux-ecrevisses.jpg' %}
            <img src="{{ asset_url }}" title="{{ 'image.cascade'|trans }}"  alt="{{ 'image.cascade'|trans }}" />
            {% endimage %}
        </div>
        <div class="">
            {% image '@AppBundle/Resources/public/images/la-Plage-de-la-Perle.jpg' %}
            <img src="{{ asset_url }}" title="{{ 'image.plage'|trans }}"  alt="{{ 'image.plage'|trans }}" />
            {% endimage %}
        </div>
        <div class="">
            {% image '@AppBundle/Resources/public/images/la-plage-malendure.jpg' %}
            <img src="{{ asset_url }}" title="{{ 'image.plage1'|trans }}"  alt="{{ 'image.plage1'|trans }}" />
            {% endimage %}
        </div>
        <div class="">
            {% image '@AppBundle/Resources/public/images/la-plongee-les-poissons.jpg' %}
            <img src="{{ asset_url }}" title="{{ 'image.plonge'|trans }}"  alt="{{ 'image.plonge'|trans }}" />
            {% endimage %}
        </div>
    </div>

    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <h3 class="primary-color text-center padding-top">{{ 'app.index.decouverte'|trans }}</h3>
        </div>
        <div class="small-10 small-centered columns padding-bottom">
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.decouvertep'|trans|raw }}</p>
        </div>
    </div>

    <div class="row full-width">
        <div class="medium-6 column text-center  padding-bottom">
            <h4 class="primary-color text-center padding-top">{{ 'app.index.pointe'|trans }}</h4>
            <p class="secondary-color padding-top padding-bottom">{{ 'app.index.pointep'|trans|raw }}</p>
            {% image '@AppBundle/Resources/public/images/Pointe-à-Pitre_sous-préfecture.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.pointe'|trans }}"  alt="{{ 'image.pointe'|trans }}" />
            {% endimage %}
        </div>
        <div class="medium-6 columns text-center padding-bottom">
            <h4 class="primary-color text-center padding-top">{{ 'app.index.grandterre'|trans }}</h4>
            <p class="secondary-color padding-top ">{{ 'app.index.grandterrep'|trans|raw }}</p>
            {% image '@AppBundle/Resources/public/images/Les-plages-a-proximite.jpg' %}
            <img class="medium" src="{{ asset_url }}" title="{{ 'image.plage2'|trans }}"  alt="{{ 'image.plage2'|trans }}" />
            {% endimage %}
        </div>
    </div>

{% endblock %}




{% block javascriptready %}
    <script>
        $(document).ready(function(){
            $(document).foundation();
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items:3,
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:1000,
                autoplayHoverPause:true
            });
        });
    </script>
{% endblock javascriptready %}